[package]
name = "gitaly-auth"
version = "0.1.0"
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[dependencies]
base64.workspace = true
hmac.workspace = true
sha2.workspace = true
thiserror.workspace = true
time.workspace = true
